$color-main: #FFD700;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=EB+Garamond&display=swap');

// font-family: 'Dancing Script', cursive;
// font-family: 'EB Garamond', serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10%;
  margin: 20px;
  width: auto;
}

li, a {
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;

}

.logo {
  cursor: pointer;
  background-color: $color-main;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
margin-right: 250px;
  background-image: linear-gradient(
    -75deg,
    transparent 0%,
    transparent 5%,
    rgb(255, 255, 255) 5%,
    rgb(255, 255, 255) 10%,
    transparent 10%,
    transparent 100%,
  );
  background-size: 200% 100%;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
  transition: 2.5s;
  &:hover {
  background-position: -120% 0;
    
  }
}

.nav-links {
 
  display: flex;
  align-items: center; 
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
  position: relative;
  li {

    padding: 0px 20px;
    a {
      transition: all 0.3s ease 0s;
      &:hover {
        color: $color-main;
      }
    }
  }
}

.bg-img {
  background-image: url("https://cdn.pixabay.com/photo/2023/02/14/18/55/flowers-7790227_960_720.jpg");
  width: 100%;
  height: 800px;
  object-fit: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.nav-p {
  display: flex;
  align-items: center;
justify-content: center;
flex-direction: column;
position: absolute;
bottom: 160px;

  button {
    background-color: $color-main;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    height: 80px;
    width: 280px;
    font-size: 22px;
    font-style: bold;
    margin-top: 20px;
    &:hover {
      transition: all 0.2s;
      background-color: #f7ea5c;  
    }
  }
  .medium-one{
    color: #fff;
    padding: 20px;
    font-size: 60px;
    font-style: italic;
  }
  .big-one {
    color: #fff;
    padding: 20px;
    font-size: 80px;
  }
}
.container > .nav-p {
  align-self: center;
    justify-self: center;
}

.section-services {
 padding: 30px;
 margin: 0 0 100px 0;
}

.header-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px;
  .span-header-services {
    font-size: 60px;
    font-weight: 800;
    
  }
  .span-header-services-mini {
   
    font-size: 25px;
    font-style: italic;
    color: #636060;
  }
}

.a-links {
  display: flex;
  flex-direction: row;
  
}

.offer {
  display: flex;
  flex-direction: row;
  .three-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    h1 {
      font-size: 25px;
      font-family: 'EB Garamond', serif;
      margin-bottom: 10px;
    }
    p {
      color: #636060;
      font-size: 18px;
      text-align: center;
      line-height: 1.5;
    }
  }
}

.three-boxes i {
    
    font-size: 50px;
    color: $color-main;
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 50%;
    border: $color-main;
    border-style: solid;
    text-align: center;
    line-height:70px;
    margin-bottom: 20px;
  }
  .portfolio {
    background-color: rgb(208, 243, 255);
    padding: 150px 0;
  }
  
  .gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h3 {
      text-align: center;
      font-size: 25px;
      margin-top: 25px;
    }
    p{
      text-align: center;
      font-size: 14px;
      margin-top: 5px;
    font-style: italic;
    color: #636060;
    }
  }
  
  .column img {
    width: 350px;
    height: 350px;
    margin-right: 3px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .column {
    flex: 33.33%;
    padding: 30px;
    position: relative;
    margin-bottom: 40px;
  }
  
  .header-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  
  .span-header-services {
    font-size: 60px;
    font-weight: 800;
  }
  
  .span-header-services-mini {
   
    font-size: 25px;
    font-style: italic;
    color: #636060;
  }
  
  .photo-description {
    background-color: #fff;
    width: 350px;
    height: 100px;
    position: absolute;
    top: 380px;
  }